/*
- pour le trait continu : #800080
- pour les pointillés : #ff0000
- pour les traits : green
- pour la ligne double : #ff69b4
- pour la bordure à gauche : orange
- pour l'arrondi : 10px couleur salmon
- pour l'image : charger une image à l'aide du générateur d'images http://placekitten.com en lui donnant une taille carrée et appliquer un arrondi à 50%.
*/

.solid {
	/*	border: type_border taille couleur;*/
	border:solid 3px #800080;
}

.dotted {
	border:dotted 5px #ff0000;
}

.dashed {
	border:dashed 5px green;
}

.double {
	border:double 5px #ff69b4;
}

.left {
	border-left: 5px solid orange;
	border-bottom: 5px solid orange;
}
.rond {
	border: solid 5px salmon;
	border-radius: 10px;
}

.img-border {
	border-radius: 50%;
}
